/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@angular/material/prebuilt-themes/purple-green.css";

@media print {
  .breadcrumb {
    display: none !important;
  }
}

.imf-button {
  background-color: #17a2b8;
  color: white !important;
  margin-right: 5px;
}

.mat-horizontal-stepper-header-container{
    background-color: #2a3f54;
}

.mat-horizontal-content-container {
    height: 80%;
}
